@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome Ipl Team</h1>
   
</div>

<table>

    <tr>
        <th>Ms Dhoni</th>
        <th>Virat Kolhi</th>
        <th>Sachin Tendulkar</th>
    </tr>

    <tr>
        <td>
<img src="images/ms01.jpeg" height="300px"  width="300px"></td>
<td>
<img src="images/vk02.jpeg" height="300px"  width="300px"></td>
<td>
<img src="images/st03.jpeg" height="300px"  width="300px"></td>

    </tr>
  
</table>

